.navigation {
  display: none;
}

@media screen and (min-width: 900px) {
  .navigation {
    text-align: center;
    display: block;
  }

  .navigation-ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navigation-ul li {
    list-style: none;
  }
}