.search-input {
  margin-top: 5vh;
  padding: 12px 10px;
  width: 60vw;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: none;
  outline: none;
  font-size: x-large;
}

.search-form {
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.is-empty {
  display: flex;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
}

.blocks-section {
  background-color: #ebf2f2;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.block-container {
  background-color: white;
  border-radius: 2%;
  padding-bottom: 1rem;
  margin: 2rem;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.blocks-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #ebf2f2;
  flex: 1;
}

.block-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.block {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: black;
}

.image-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  width: 140px;
  min-width: 135px;
  padding-right: 15px;
}

.block-text-container h1 {
  font-size: 1.4em;
}

.image-container img {
  height: 60px;
}

@media screen and (min-width: 800px) {
  .blocks-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  .blocks-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    background-color: #ebf2f2;
  }

  .blocks-section {
    max-width: 1000px;
  }
}
