.blocks-section {
  background-color: #ebf2f2;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .blocks-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  
  .blocks-section {
    max-width: 1000px;
  }
}


.is-empty {
  display: flex;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
}